body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
}

nav {
    display: flex;
    gap: 40px;
}

#islas{
    scale: 0.7;
    margin: 0 auto;
    translate: 5%;
    position: relative;
}

#flores{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cajaflora{
 width: 200px;
 background-size: cover;
}


.cajaflora img{
    width: 150px;
    
}

.ficha-izq {
    display: flex;
}

.ficha-der {
    display: flex;
    flex-direction: row-reverse;
}

.titulo {
    display: flex;
}

.iluPeq {
    width:80px
}

.foto {
    width: 50%;
    height: 100vh;
    background-color: blueviolet;
}
#islas path{
    fill:aquamarine;
}


footer{
    background-image: url("./assets/paisaje.png");
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    background-position: bottom;
}

#miModal {
    background-color: lightseagreen;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    padding: 60px;
    padding-top: 20px;
}

#modalCerrar {
    position: absolute;
    right: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#titulo {

}

#parrafo{

}

#miCajaForm {
    display: flex;
    flex-direction: column;

    gap:7px;
}

#miCajaForm label {
 font-family: Arial, Helvetica, sans-serif;
}

#miCajaForm input {
 margin-bottom: 10px;
}

#modalLabelCheck {
    display: flex;
    align-items: center;
}


.foto1, .foto2 {
width: 50%;
height: 100vh;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.contenido {
    width: 50%;
}
